{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Mon compte{% endblock %}

{% block body %}
    <aside>
        <h2>Mes amis</h2>
        <ul>
            {% for friend in user.myFriends %}
                <li>{{ friend.username }}</li>
            {% endfor %}
        </ul>
    </aside>
    <div>
        <h2>Mon fil d'actualité</h2>
        <ul>
            {% for post in posts %}
                <li>{{ post.title }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
